# Introductory examples

## 1.usa.gov data from bit.ly

In [63]:
%pwd

u'/home/alfredo/Documentos/Python/pydata-book'

In [64]:
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'

In [65]:
open(path).readline()

'{ "a": "Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/535.11 (KHTML, like Gecko) Chrome\\/17.0.963.78 Safari\\/535.11", "c": "US", "nk": 1, "tz": "America\\/New_York", "gr": "MA", "g": "A6qOVH", "h": "wfLQtf", "l": "orofrog", "al": "en-US,en;q=0.8", "hh": "1.usa.gov", "r": "http:\\/\\/www.facebook.com\\/l\\/7AQEFzjSi\\/1.usa.gov\\/wfLQtf", "u": "http:\\/\\/www.ncbi.nlm.nih.gov\\/pubmed\\/22415991", "t": 1331923247, "hc": 1331822918, "cy": "Danvers", "ll": [ 42.576698, -70.954903 ] }\n'

In [66]:
import json
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'
records = [json.loads(line) for line in open(path)]

In [67]:
records[0]

{u'a': u'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 u'al': u'en-US,en;q=0.8',
 u'c': u'US',
 u'cy': u'Danvers',
 u'g': u'A6qOVH',
 u'gr': u'MA',
 u'h': u'wfLQtf',
 u'hc': 1331822918,
 u'hh': u'1.usa.gov',
 u'l': u'orofrog',
 u'll': [42.576698, -70.954903],
 u'nk': 1,
 u'r': u'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 u't': 1331923247,
 u'tz': u'America/New_York',
 u'u': u'http://www.ncbi.nlm.nih.gov/pubmed/22415991'}

In [68]:
records[0]['tz']

u'America/New_York'

In [69]:
print(records[0]['tz'])

America/New_York

### Counting time zones in pure Python

In [70]:
time_zones = [rec['tz'] for rec in records]

KeyError: 'tz'

In [ ]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]

In [ ]:
time_zones[:10]

In [ ]:
def get_counts(sequence):
    counts = {}
    for x in sequence:
        if x in counts:
            counts[x] += 1
        else:
            counts[x] = 1
    return counts

In [ ]:
from collections import defaultdict

def get_counts2(sequence):
    counts = defaultdict(int) # values will initialize to 0
    for x in sequence:
        counts[x] += 1
    return counts

In [ ]:
counts = get_counts(time_zones)

In [ ]:
counts['America/New_York']

In [ ]:
len(time_zones)

In [ ]:
def top_counts(count_dict, n=10):
    value_key_pairs = [(count, tz) for tz, count in count_dict.items()]
    value_key_pairs.sort()
    return value_key_pairs[-n:]

In [ ]:
top_counts(counts)

In [ ]:
from collections import Counter

In [ ]:
counts = Counter(time_zones)

In [ ]:
counts.most_common(10)

### Counting time zones with pandas

In [ ]:
%matplotlib inline

In [ ]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
import pandas as pd
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4)

In [ ]:
import json
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'
lines = open(path).readlines()
records = [json.loads(line) for line in lines]

In [71]:
from pandas import DataFrame, Series
import pandas as pd

frame = DataFrame(records)
frame

,_heartbeat_,a,al,c,cy,g,gr,h,hc,hh,kw,l,ll,nk,r,t,tz,u
0,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Danvers,A6qOVH,MA,wfLQtf,1331822918,1.usa.gov,NaN,orofrog,"[42.576698, -70.954903]",1,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,1331923247,America/New_York,http://www.ncbi.nlm.nih.gov/pubmed/22415991
1,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1308262393,j.mp,NaN,bitly,"[40.218102, -111.613297]",0,http://www.AwareMap.com/,1331923249,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
2,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-US,US,Washington,xxr3Qb,DC,xxr3Qb,1331919941,1.usa.gov,NaN,bitly,"[38.9007, -77.043098]",1,http://t.co/03elZC4Q,1331923250,America/New_York,http://boxer.senate.gov/en/press/releases/0316...
3,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,pt-br,BR,Braz,zCaLwp,27,zUtuOu,1331923068,1.usa.gov,NaN,alelex88,"[-23.549999, -46.616699]",0,direct,1331923249,America/Sao_Paulo,http://apod.nasa.gov/apod/ap120312.html
4,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Shrewsbury,9b6kNl,MA,9b6kNl,1273672411,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0,http://www.shrewsbury-ma.gov/selco/,1331923251,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
5,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Shrewsbury,axNK8c,MA,axNK8c,1273672506,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0,http://www.shrewsbury-ma.gov/selco/,1331923252,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
6,NaN,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,"pl-PL,pl;q=0.8,en-US;q=0.6,en;q=0.4",PL,Luban,wcndER,77,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,"[51.116699, 15.2833]",0,http://plus.url.google.com/url?sa=z&n=13319232...,1331923255,Europe/Warsaw,http://www.nasa.gov/mission_pages/nustar/main/...
7,NaN,Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/2...,"bg,en-us;q=0.7,en;q=0.3",None,NaN,wcndER,NaN,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,NaN,0,http://www.facebook.com/,1331923255,,http://www.nasa.gov/mission_pages/nustar/main/...
8,NaN,Opera/9.80 (X11; Linux zbov; U; en) Presto/2.1...,"en-US, en",None,NaN,wcndER,NaN,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,NaN,0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1331923254,,http://www.nasa.gov/mission_pages/nustar/main/...
9,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"pt-BR,pt;q=0.8,en-US;q=0.6,en;q=0.4",None,NaN,zCaLwp,NaN,zUtuOu,1331923068,1.usa.gov,NaN,alelex88,NaN,0,http://t.co/o1Pd0WeV,1331923255,,http://apod.nasa.gov/apod/ap120312.html
10,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Seattle,vNJS4H,WA,u0uD9q,1319563556,1.usa.gov,NaN,o_4us71ccioa,"[47.5951, -122.332603]",1,direct,1331923258,America/Los_Angeles,https://www.nysdot.gov/rexdesign/design/commun...
11,NaN,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.4...,"en-us,en;q=0.5",US,Washington,wG7OIH,DC,A0nRz4,1331815838,1.usa.gov,NaN,darrellissa,"[38.937599, -77.092796]",0,http://t.co/ND7SoPyo,1331923259,America/New_York,http://oversight.house.gov/wp-content/uploads/...
12,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Alexandria,vNJS4H,VA,u0uD9q,1319563556,1.usa.gov,NaN,o_4us71ccioa,"[38.790901, -77.094704]",1,direct,1331923259,America/New_York,https://www.nysdot.gov/rexdesign/design/commun...
13,1331923261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US...,"en-us,en;q=0.5",US,Marietta,2rOUYc,GA,2rOUYc,1255769846,1.usa.gov,NaN,bitly,"[33.953201, -84.5177]",1,direct,1331923262,America/New_York,http://toxtown.nlm.nih.gov/index.php
15,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"zh-TW,zh;q=0.8,en-US;q=0.6,en;q=0.4",HK,Central District,nQvgJp,00,rtrrth,1317318030,j.mp,NaN,walkeryuen,"[22.2833, 114.150002]",1,http://forum2.hkgolden.com/view.aspx?type=BW&m...,1331923263,Asia/Hong_Kong,http://www.ssd.noaa.gov/PS/TROP/TCFP/data/curr...
16,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"zh-TW,zh;q=0.8,en-US;q=0.6,en;q=0.4",HK,Central District,XdUNr,00,qWkgbq,1317318039,j.mp,NaN,walkeryuen,"[22.2833, 114.150002]",1,http://forum2.hkgolden.com/view.aspx?type=BW&m...,1331923263,Asia/Hong_Kong,http://www.usno.navy.mil/NOOC/nmfc-ph/RSS/jtwc...
17,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.5; r...,"en-us,en;q=0.5",US,Buckfield,zH1BFf,ME,x3jOIv,1331839576,1.usa.gov,NaN,andyzieminski,"[44.299702, -70.369797]",0,http://t.co/6Cx4ROLs,1331923264,America/New_York,http://www.usda.gov/wps/portal/usda/usdahome?c...
18,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1308262393,1.usa.gov,NaN,bitly,"[40.218102, -111.613297]",0,http://www.AwareMap.com/,1331923262,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
19,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"it-IT,it;q=0.8,en-US;q=0.6,en;q=0.4",IT,Venice,wcndER,20,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,"[45.438599, 12.3267]",0,http://www.facebook.com/,1331923264,Europe/Rome,http://www.nasa.gov/mission_pages/nustar/main/...
20,NaN,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,es-ES,ES,Alcal,zQ95Hi,51,ytZYWR,1331670549,bitly.com,NaN,jplnews,"[37.516701, -5.9833]",0,http://www.facebook.com/,1331923265,Africa/Ceuta,http://voyager.jpl.nasa.gov/imagesvideo/uranus...
21,NaN,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.6...,"en-us,en;q=0.5",US,Davidsonville,wcndER,MD,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,"[38.939201, -76.635002]",0,http://www.facebook.com/,1331923267,America/New_York,http://www.nasa.gov/mission_pages/nustar/main/...
22,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-us,US,Hockessin,y3ZImz,DE,y3ZImz,1331064158,1.usa.gov,NaN,bitly,"[39.785, -75.682297]",0,direct,1331923267,America/New_York,http://portal.hud.gov/hudportal/documents/hudd...
23,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_3)...,en-us,US,Lititz,wWiOiD,PA,wWiOiD,1330217829,1.usa.gov,NaN,bitly,"[40.174999, -76.3078]",0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1331923267,America/New_York,http://www.tricare.mil/mybenefit/ProfileFilter...
24,NaN,Mozilla/5.0 (Windows; U; Windows NT 5.1; es-ES...,"es-es,es;q=0.8,en-us;q=0.5,en;q=0.3",ES,Bilbao,wcndER,59,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,"[43.25, -2.9667]",0,http://www.facebook.com/,1331923268,Europe/Madrid,http://www.nasa.gov/mission_pages/nustar/main/...
25,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"en-GB,en;q=0.8,en-US;q=0.6,en-AU;q=0.4",MY,Kuala Lumpur,wcndER,14,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,"[3.1667, 101.699997]",0,http://www.facebook.com/,1331923269,Asia/Kuala_Lumpur,http://www.nasa.gov/mission_pages/nustar/main/...
26,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"ro-RO,ro;q=0.8,en-US;q=0.6,en;q=0.4",CY,Nicosia,wcndER,04,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,"[35.166698, 33.366699]",0,http://www.facebook.com/?ref=tn_tnmn,1331923268,Asia/Nicosia,http://www.nasa.gov/mission_pages/nustar/main/...
27,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,"en-US,en;q=0.8",BR,SPaulo,zCaLwp,27,zUtuOu,1331923068,1.usa.gov,NaN,alelex88,"[-23.5333, -46.616699]",0,direct,1331923269,America/Sao_Paulo,http://apod.nasa.gov/apod/ap120312.html
28,NaN,Mozilla/5.0 (iPad; CPU OS 5_0_1 like Mac OS X)...,en-us,None,NaN,vNJS4H,NaN,u0uD9q,1319563556,1.usa.gov,NaN,o_4us71ccioa,NaN,0,direct,1331923270,,https://www.nysdot.gov/rexdesign/design/commun...
29,NaN,Mozilla/5.0 (iPad; U; CPU OS 3_2 like Mac OS X...,en-us,None,NaN,FPX0IM,NaN,FPX0IL,1331922978,1.usa.gov,NaN,twittershare,NaN,1,http://t.co/5xlp0B34,1331923270,,http://www.ed.gov/news/media-advisories/us-dep...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3530,NaN,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/535.1...,"en-US,en;q=0.8",US,San Francisco,xVZg4P,CA,wqUkTo,1331908247,go.nasa.gov,NaN,nasatwitter,"[37.7645, -122.429398]",0,http://www.facebook.com/l.php?u=http%3A%2F%2Fg...,1331926815,America/Los_Angeles,http://www.nasa.gov/multimedia/imagegallery/im...
3531,NaN,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6...,en-US,None,NaN,wcndER,NaN,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,NaN,0,direct,1331926816,,http://www.nasa.gov/mission_pages/nustar/main/...
3532,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Washington,Au3aUS,DC,A9ct6C,1331926420,1.usa.gov,NaN,ncsha,"[38.904202, -77.031998]",1,http://www.ncsha.org/,1331926817,America/New_York,http://portal.hud.gov/hudportal/HUD?src=/press...
3533,NaN,Mozilla/5.0 (iPad; CPU OS 5_1 like Mac OS X) A...,en-us,US,Jacksonville,b2UtUJ,FL,ieCdgH,1301393171,go.nasa.gov,NaN,nasatwitter,"[30.279301, -81.585098]",1,direct,1331926818,America/New_York,http://apod.nasa.gov/apod/
3534,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,en-us,US,Frisco,vNJS4H,TX,u0uD9q,1319563556,1.usa.gov,NaN,o_4us71ccioa,"[33.149899, -96.855499]",1,direct,1331926820,America/Chicago,https://www.nysdot.gov/rexdesign/design/commun...
3535,NaN,Mozilla/5.0 (Windows NT 5.1; rv:10.0.2) Gecko/...,en-us,US,Houston,zIgLx8,TX,yrPaLt,1331903484,aash.to,NaN,aashto,"[29.775499, -95.415199]",1,direct,1331926823,America/Chicago,http://ntl.bts.gov/lib/44000/44300/44374/FHWA-...
3536,NaN,Mozilla/5.0 (BlackBerry; U; BlackBerry 9800; e...,"en-US,en;q=0.5",None,NaN,xIcyim,NaN,yG1TTf,1331728309,go.nasa.gov,NaN,nasatwitter,NaN,0,http://t.co/g1VKE8zS,1331926824,,http://www.nasa.gov/mission_pages/hurricanes/a...
3537,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"es-es,es;q=0.8,en-us;q=0.5,en;q=0.3",HN,Tegucigalpa,zCaLwp,08,w63FZW,1331546756,1.usa.gov,NaN,bufferapp,"[14.1, -87.216698]",0,http://t.co/A8TJyibE,1331926825,America/Tegucigalpa,http://apod.nasa.gov/apod/ap120312.html
3538,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Ma...,en-us,US,Los Angeles,qMac9k,CA,qds1Ge,1310473559,1.usa.gov,NaN,healthypeople,"[34.041599, -118.298798]",0,direct,1331926825,America/Los_Angeles,http://healthypeople.gov/2020/connect/webinars...
3539,NaN,Mozilla/5.0 (compatible; Fedora Core 3) FC3 KDE,NaN,US,Bellevue,zu2M5o,WA,zDhdro,1331586192,bit.ly,NaN,glimtwin,"[47.615398, -122.210297]",0,direct,1331926827,America/Los_Angeles,http://www.federalreserve.gov/newsevents/press...
3540,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Payson,wcndER,UT,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,"[40.014198, -111.738899]",0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1331926828,America/Denver,http://www.nasa.gov/mission_pages/nustar/main/...
3541,NaN,Mozilla/5.0 (X11; U; OpenVMS AlphaServer_ES40;...,NaN,US,Bellevue,zu2M5o,WA,zDhdro,1331586192,1.usa.gov,NaN,glimtwin,"[47.615398, -122.210297]",0,direct,1331926828,America/Los_Angeles,http://www.federalreserve.gov/newsevents/press...
3542,NaN,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,en-us,US,Pittsburg,y3reI1,CA,y3reI1,1331926120,1.usa.gov,NaN,bitly,"[38.0051, -121.838699]",0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1331926829,America/Los_Angeles,http://www.sba.gov/community/blogs/community-b...
3543,1331926831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3544,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:5.0.1) ...,"en-us,en;q=0.5",US,Wentzville,vNJS4H,MO,u0uD9q,1319563556,1.usa.gov,NaN,o_4us71ccioa,"[38.790001, -90.854897]",1,direct,1331926831,America/Chicago,https://www.nysdot.gov/rexdesign/design/commun...
3545,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Saint Charles,vNJS4H,IL,u0uD9q,1319563556,1.usa.gov,NaN,o_4us71ccioa,"[41.9352, -88.290901]",1,direct,1331926832,America/Chicago,https://www.nysdot.gov/rexdesign/design/commun...
3546,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Ma...,en-us,US,Los Angeles,qMac9k,CA,qds1Ge,1310473559,1.usa.gov,NaN,healthypeople,"[34.041599, -118.298798]",1,direct,1331926833,America/Los_Angeles,http://healthypeople.gov/2020/connect/webinars...
3547,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,en-us,US,Silver Spring,y0jYkg,MD,y0jYkg,1331851811,1.usa.gov,NaN,bitly,"[39.052101, -77.014999]",1,direct,1331926836,America/New_York,http://www.epa.gov/otaq/regs/fuels/additive/e1...
3548,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Ma...,en-us,US,Mcgehee,y5rMac,AR,xANY6O,1331916302,1.usa.gov,NaN,twitterfeed,"[33.628399, -91.356903]",1,https://twitter.com/fdarecalls/status/18069759...,1331926836,America/Chicago,http://www.fda.gov/Safety/Recalls/ucm296326.htm
3549,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"sv-SE,sv;q=0.8,en-US;q=0.6,en;q=0.4",SE,Sollefte,eH8wu,24,7dtjei,1260316355,1.usa.gov,NaN,tweetdeckapi,"[63.166698, 17.266701]",1,direct,1331926834,Europe/Stockholm,http://www.nasa.gov/mission_pages/WISE/main/in...
3550,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-us,US,Conshohocken,A00b72,PA,yGSwzn,1331917632,1.usa.gov,NaN,addthis,"[40.0798, -75.2855]",0,http://www.linkedin.com/home?trk=hb_tab_home_top,1331926837,America/New_York,http://www.nlm.nih.gov/medlineplus/news/fullst...
3551,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",None,NaN,wcndER,NaN,zkpJBR,1331922854,1.usa.gov,NaN,bnjacobs,NaN,0,http://plus.url.google.com/url?sa=z&n=13319268...,1331926837,,http://www.nasa.gov/mission_pages/nustar/main/...
3552,NaN,Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US...,NaN,US,Decatur,rqgJuE,AL,xcz8vt,1331227417,1.usa.gov,NaN,bootsnall,"[34.572701, -86.940598]",0,direct,1331926839,America/Chicago,http://travel.state.gov/passport/passport_5535...
3553,NaN,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,en-us,US,Shrewsbury,9b6kNl,MA,9b6kNl,1273672411,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0,http://www.shrewsbury-ma.gov/selco/,1331926840,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
3554,NaN,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,en-us,US,Shrewsbury,axNK8c,MA,axNK8c,1273672506,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0,http://www.shrewsbury-ma.gov/selco/,1331926840,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
3555,NaN,Mozilla/4.0 (compatible; MSIE 9.0; Windows NT ...,en,US,Paramus,e5SvKE,NJ,fqPSr9,1301298479,1.usa.gov,NaN,tweetdeckapi,"[40.9445, -74.07]",1,direct,1331926841,America/New_York,http://www.fda.gov/AdvisoryCommittees/Committe...
3556,NaN,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,"en-US,en;q=0.8",US,Oklahoma City,jQLtP4,OK,jQLtP4,1307530247,1.usa.gov,NaN,bitly,"[35.4715, -97.518997]",0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1331926844,America/Chicago,http://www.okc.gov/PublicNotificationSystem/Fo...
3557,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1308262393,j.mp,NaN,bitly,"[40.218102, -111.613297]",0,http://www.AwareMap.com/,1331926846,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
3558,NaN,GoogleProducer,NaN,US,Mountain View,zjtI4X,CA,zjtI4X,1327528527,1.usa.gov,NaN,bitly,"[37.419201, -122.057404]",0,direct,1331926847,America/Los_Angeles,http://www.ahrq.gov/qual/qitoolkit/
3559,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-US,US,Mc Lean,qxKrTK,VA,qxKrTK,1312897670,1.usa.gov,NaN,bitly,"[38.935799, -77.162102]",0,http://t.co/OEEEvwjU,1331926849,America/New_York,http://herndon-va.gov/Content/public_safety/Pu...

In [72]:
print frame['tz'][:10], type(frame)

0     America/New_York
1       America/Denver
2     America/New_York
3    America/Sao_Paulo
4     America/New_York
5     America/New_York
6        Europe/Warsaw
7
8
9
Name: tz, dtype: object <class 'pandas.core.frame.DataFrame'>

In [73]:
tz_counts = frame['tz'].value_counts()   ###Subsetting and counting a DF :O!!
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
dtype: int64

In [74]:
clean_tz = frame['tz'].fillna('Missing') ###Filling missing values with a string すごいだ！
clean_tz[clean_tz == ''] = 'Unknown'
tz_counts = clean_tz.value_counts()
tz_counts[:10]

America/New_York       1251
Unknown                 521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Missing                 120
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
dtype: int64

In [75]:
tz_counts[:15].plot(kind='barh', rot=0)

In [76]:
plt.figure(figsize=(10, 4))

In [77]:
frame['a'][1]

u'GoogleMaps/RochesterNY'

In [78]:
frame['a'][50]

u'Mozilla/5.0 (Windows NT 5.1; rv:10.0.2) Gecko/20100101 Firefox/10.0.2'

In [79]:
frame['a'][51]

u'Mozilla/5.0 (Linux; U; Android 2.2.2; en-us; LG-P925/V10e Build/FRG83G) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1'

In [80]:
results = Series([x.split()[0] for x in frame.a.dropna()])
results[:5]

0               Mozilla/5.0
1    GoogleMaps/RochesterNY
2               Mozilla/4.0
3               Mozilla/5.0
4               Mozilla/5.0
dtype: object

In [81]:
results.value_counts()[:8]

Mozilla/5.0                 2594
Mozilla/4.0                  601
GoogleMaps/RochesterNY       121
Opera/9.80                    34
TEST_INTERNET_AGENT           24
GoogleProducer                21
Mozilla/6.0                    5
BlackBerry8520/5.0.0.681       4
dtype: int64

In [82]:
cframe = frame[frame.a.notnull()]

In [83]:
operating_system = np.where(cframe['a'].str.contains('Windows'),
                            'Windows', 'Not Windows')
operating_system[:5]

array(['Windows', 'Not Windows', 'Windows', 'Not Windows', 'Windows'],
      dtype='|S11')

In [84]:
by_tz_os = cframe.groupby(['tz', operating_system])

In [85]:
agg_counts = by_tz_os.size().unstack().fillna(0)
agg_counts[:10]

                                Not Windows  Windows
tz
                                        245      276
Africa/Cairo                              0        3
Africa/Casablanca                         0        1
Africa/Ceuta                              0        2
Africa/Johannesburg                       0        1
Africa/Lusaka                             0        1
America/Anchorage                         4        1
America/Argentina/Buenos_Aires            1        0
America/Argentina/Cordoba                 0        1
America/Argentina/Mendoza                 0        1

In [86]:
# Use to sort in ascending order
indexer = agg_counts.sum(1).argsort()
indexer[:10]

tz
                                  24
Africa/Cairo                      20
Africa/Casablanca                 21
Africa/Ceuta                      92
Africa/Johannesburg               87
Africa/Lusaka                     53
America/Anchorage                 54
America/Argentina/Buenos_Aires    57
America/Argentina/Cordoba         26
America/Argentina/Mendoza         55
dtype: int64

In [87]:
count_subset = agg_counts.take(indexer)[-10:]
count_subset

                     Not Windows  Windows
tz
America/Sao_Paulo             13       20
Europe/Madrid                 16       19
Pacific/Honolulu               0       36
Asia/Tokyo                     2       35
Europe/London                 43       31
America/Denver               132       59
America/Los_Angeles          130      252
America/Chicago              115      285
                             245      276
America/New_York             339      912

In [88]:
plt.figure()

In [89]:
count_subset.plot(kind='barh', stacked=True)

In [90]:
plt.figure()

In [91]:
normed_subset = count_subset.div(count_subset.sum(1), axis=0)
normed_subset.plot(kind='barh', stacked=True)

## MovieLens 1M data set

In [92]:
import pandas as pd
import os
encoding = 'latin1'

upath = os.path.expanduser('ch02/movielens/users.dat')
rpath = os.path.expanduser('ch02/movielens/ratings.dat')
mpath = os.path.expanduser('ch02/movielens/movies.dat')

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
mnames = ['movie_id', 'title', 'genres']

users = pd.read_csv(upath, sep='::', header=None, names=unames, encoding=encoding)
ratings = pd.read_csv(rpath, sep='::', header=None, names=rnames, encoding=encoding)
movies = pd.read_csv(mpath, sep='::', header=None, names=mnames, encoding=encoding)

/home/alfredo/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:648: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  ParserWarning)

In [93]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [94]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [95]:
movies[:5]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [96]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [97]:
data = pd.merge(pd.merge(ratings, users), movies)
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [98]:
data.ix[0]

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [99]:
mean_ratings = data.pivot_table('rating', index='title',
                                columns='gender', aggfunc='mean')
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [100]:
ratings_by_title = data.groupby('title').size()

In [101]:
ratings_by_title[:5]

title
$1,000,000 Duck (1971)            37
'Night Mother (1986)              70
'Til There Was You (1997)         52
'burbs, The (1989)               303
...And Justice for All (1979)    199
dtype: int64

In [102]:
active_titles = ratings_by_title.index[ratings_by_title >= 250]

In [103]:
active_titles[:10]

Index([u''burbs, The (1989)', u'10 Things I Hate About You (1999)',
       u'101 Dalmatians (1961)', u'101 Dalmatians (1996)',
       u'12 Angry Men (1957)', u'13th Warrior, The (1999)',
       u'2 Days in the Valley (1996)', u'20,000 Leagues Under the Sea (1954)',
       u'2001: A Space Odyssey (1968)', u'2010 (1984)'],
      dtype='object', name=u'title')

In [104]:
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings

gender                                                     F         M
title
'burbs, The (1989)                                  2.793478  2.962085
10 Things I Hate About You (1999)                   3.646552  3.311966
101 Dalmatians (1961)                               3.791444  3.500000
101 Dalmatians (1996)                               3.240000  2.911215
12 Angry Men (1957)                                 4.184397  4.328421
13th Warrior, The (1999)                            3.112000  3.168000
2 Days in the Valley (1996)                         3.488889  3.244813
20,000 Leagues Under the Sea (1954)                 3.670103  3.709205
2001: A Space Odyssey (1968)                        3.825581  4.129738
2010 (1984)                                         3.446809  3.413712
28 Days (2000)                                      3.209424  2.977707
39 Steps, The (1935)                                3.965517  4.107692
54 (1998)                                           2.701754  2.782178
7th Voyage of Sinbad, The (1958)                    3.409091  3.658879
8MM (1999)                                          2.906250  2.850962
About Last Night... (1986)                          3.188679  3.140909
Absent Minded Professor, The (1961)                 3.469388  3.446809
Absolute Power (1997)                               3.469136  3.327759
Abyss, The (1989)                                   3.659236  3.689507
Ace Ventura: Pet Detective (1994)                   3.000000  3.197917
Ace Ventura: When Nature Calls (1995)               2.269663  2.543333
Addams Family Values (1993)                         3.000000  2.878531
Addams Family, The (1991)                           3.186170  3.163498
Adventures in Babysitting (1987)                    3.455782  3.208122
Adventures of Buckaroo Bonzai Across the 8th Di...  3.308511  3.402321
Adventures of Priscilla, Queen of the Desert, T...  3.989071  3.688811
Adventures of Robin Hood, The (1938)                4.166667  3.918367
African Queen, The (1951)                           4.324232  4.223822
Age of Innocence, The (1993)                        3.827068  3.339506
Agnes of God (1985)                                 3.534884  3.244898
...                                                      ...       ...
White Men Can't Jump (1992)                         3.028777  3.231061
Who Framed Roger Rabbit? (1988)                     3.569378  3.713251
Who's Afraid of Virginia Woolf? (1966)              4.029703  4.096939
Whole Nine Yards, The (2000)                        3.296552  3.404814
Wild Bunch, The (1969)                              3.636364  4.128099
Wild Things (1998)                                  3.392000  3.459082
Wild Wild West (1999)                               2.275449  2.131973
William Shakespeare's Romeo and Juliet (1996)       3.532609  3.318644
Willow (1988)                                       3.658683  3.453543
Willy Wonka and the Chocolate Factory (1971)        4.063953  3.789474
Witness (1985)                                      4.115854  3.941504
Wizard of Oz, The (1939)                            4.355030  4.203138
Wolf (1994)                                         3.074074  2.899083
Women on the Verge of a Nervous Breakdown (1988)    3.934307  3.865741
Wonder Boys (2000)                                  4.043796  3.913649
Working Girl (1988)                                 3.606742  3.312500
World Is Not Enough, The (1999)                     3.337500  3.388889
Wrong Trousers, The (1993)                          4.588235  4.478261
Wyatt Earp (1994)                                   3.147059  3.283898
X-Files: Fight the Future, The (1998)               3.489474  3.493797
X-Men (2000)                                        3.682310  3.851702
Year of Living Dangerously (1982)                   3.951220  3.869403
Yellow Submarine (1968)                             3.714286  3.689286
You've Got Mail (1998)                              3.542424  3.275591
Young Frankenstein (1974)                           4.289963  4.239177
Young Guns (1988)                                   3.371795  3.425620
Young Guns II (1990)                                2.934783  2.904025
Young Sherlock Holmes (1985)                        3.514706  3.363344
Zero Effect (1998)                                  3.864407  3.723140
eXistenZ (1999)                                     3.098592  3.289086

[1216 rows x 2 columns]

In [105]:
mean_ratings = mean_ratings.rename(index={'Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)':
                           'Seven Samurai (Shichinin no samurai) (1954)'})

In [106]:
top_female_ratings = mean_ratings.sort_index(by='F', ascending=False)
top_female_ratings[:10]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

### Measuring rating disagreement

In [107]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [108]:
sorted_by_diff = mean_ratings.sort_index(by='diff')
sorted_by_diff[:15]

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573
French Kiss (1995)                     3.535714  3.056962 -0.478752
Little Shop of Horrors, The (1960)     3.650000  3.179688 -0.470312
Guys and Dolls (1955)                  4.051724  3.583333 -0.468391
Mary Poppins (1964)                    4.197740  3.730594 -0.467147
Patch Adams (1998)                     3.473282  3.008746 -0.464536

In [109]:
# Reverse order of rows, take first 15 rows
sorted_by_diff[::-1][:15]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
Barb Wire (1996)                        1.585366  2.100386  0.515020

In [110]:
# Standard deviation of rating grouped by title
rating_std_by_title = data.groupby('title')['rating'].std()
# Filter down to active_titles
rating_std_by_title = rating_std_by_title.ix[active_titles]
# Order Series by value in descending order
rating_std_by_title.order(ascending=False)[:10]

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64

In [111]:
rating_std_by_title.order(ascending=False)[:10].plot(kind="barh")

### US Baby Names 1880-2010

In [112]:
from __future__ import division
from numpy.random import randn
import numpy as np
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 5))
np.set_printoptions(precision=4)
%pwd

u'/home/alfredo/Documentos/Python/pydata-book'

http://www.ssa.gov/oact/babynames/limits.html

In [113]:
!head -n 10 ch02/names/yob1880.txt

In [114]:
import pandas as pd
names1880 = pd.read_csv('ch02/names/yob1880.txt', names=['name', 'sex', 'births'])
names1880

           name sex  births
0          Mary   F    7065
1          Anna   F    2604
2          Emma   F    2003
3     Elizabeth   F    1939
4        Minnie   F    1746
5      Margaret   F    1578
6           Ida   F    1472
7         Alice   F    1414
8        Bertha   F    1320
9         Sarah   F    1288
10        Annie   F    1258
11        Clara   F    1226
12         Ella   F    1156
13     Florence   F    1063
14         Cora   F    1045
15       Martha   F    1040
16        Laura   F    1012
17       Nellie   F     995
18        Grace   F     982
19       Carrie   F     949
20        Maude   F     858
21        Mabel   F     808
22       Bessie   F     794
23       Jennie   F     793
24     Gertrude   F     787
25        Julia   F     783
26       Hattie   F     769
27        Edith   F     768
28       Mattie   F     704
29         Rose   F     700
...         ...  ..     ...
1970      Philo   M       5
1971    Phineas   M       5
1972    Presley   M       5
1973     Ransom   M       5
1974      Reece   M       5
1975       Rene   M       5
1976    Roswell   M       5
1977    Rowland   M       5
1978    Sampson   M       5
1979     Samual   M       5
1980     Santos   M       5
1981   Schuyler   M       5
1982   Sheppard   M       5
1983   Spurgeon   M       5
1984   Starling   M       5
1985   Sylvanus   M       5
1986   Theadore   M       5
1987  Theophile   M       5
1988     Tilmon   M       5
1989      Tommy   M       5
1990    Unknown   M       5
1991       Vann   M       5
1992        Wes   M       5
1993    Winston   M       5
1994       Wood   M       5
1995     Woodie   M       5
1996     Worthy   M       5
1997     Wright   M       5
1998       York   M       5
1999  Zachariah   M       5

[2000 rows x 3 columns]

In [115]:
names1880.groupby('sex').births.sum()

sex
F     90993
M    110493
Name: births, dtype: int64

In [116]:
# 2010 is the last available year right now
years = range(1880, 2011)

pieces = []
columns = ['name', 'sex', 'births']

for year in years:
    path = 'ch02/names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)

    frame['year'] = year
    pieces.append(frame)

# Concatenate everything into a single DataFrame
names = pd.concat(pieces, ignore_index=True)

In [117]:
total_births = names.pivot_table('births', index='year',
                                 columns='sex', aggfunc=sum)

In [118]:
total_births.tail()

sex         F        M
year
2006  1896468  2050234
2007  1916888  2069242
2008  1883645  2032310
2009  1827643  1973359
2010  1759010  1898382

In [119]:
total_births.plot(title='Total births by sex and year')

In [120]:
def add_prop(group):
    # Integer division floors
    births = group.births.astype(float)

    group['prop'] = births / births.sum()
    return group
names = names.groupby(['year', 'sex']).apply(add_prop)

In [121]:
names

              name sex  births  year      prop
0             Mary   F    7065  1880  0.077643
1             Anna   F    2604  1880  0.028618
2             Emma   F    2003  1880  0.022013
3        Elizabeth   F    1939  1880  0.021309
4           Minnie   F    1746  1880  0.019188
5         Margaret   F    1578  1880  0.017342
6              Ida   F    1472  1880  0.016177
7            Alice   F    1414  1880  0.015540
8           Bertha   F    1320  1880  0.014507
9            Sarah   F    1288  1880  0.014155
10           Annie   F    1258  1880  0.013825
11           Clara   F    1226  1880  0.013474
12            Ella   F    1156  1880  0.012704
13        Florence   F    1063  1880  0.011682
14            Cora   F    1045  1880  0.011484
15          Martha   F    1040  1880  0.011429
16           Laura   F    1012  1880  0.011122
17          Nellie   F     995  1880  0.010935
18           Grace   F     982  1880  0.010792
19          Carrie   F     949  1880  0.010429
20           Maude   F     858  1880  0.009429
21           Mabel   F     808  1880  0.008880
22          Bessie   F     794  1880  0.008726
23          Jennie   F     793  1880  0.008715
24        Gertrude   F     787  1880  0.008649
25           Julia   F     783  1880  0.008605
26          Hattie   F     769  1880  0.008451
27           Edith   F     768  1880  0.008440
28          Mattie   F     704  1880  0.007737
29            Rose   F     700  1880  0.007693
...            ...  ..     ...   ...       ...
1690754    Zaviyon   M       5  2010  0.000003
1690755   Zaybrien   M       5  2010  0.000003
1690756   Zayshawn   M       5  2010  0.000003
1690757     Zayyan   M       5  2010  0.000003
1690758       Zeal   M       5  2010  0.000003
1690759     Zealan   M       5  2010  0.000003
1690760   Zecharia   M       5  2010  0.000003
1690761   Zeferino   M       5  2010  0.000003
1690762   Zekariah   M       5  2010  0.000003
1690763       Zeki   M       5  2010  0.000003
1690764     Zeriah   M       5  2010  0.000003
1690765     Zeshan   M       5  2010  0.000003
1690766     Zhyier   M       5  2010  0.000003
1690767   Zildjian   M       5  2010  0.000003
1690768       Zinn   M       5  2010  0.000003
1690769     Zishan   M       5  2010  0.000003
1690770      Ziven   M       5  2010  0.000003
1690771      Zmari   M       5  2010  0.000003
1690772      Zoren   M       5  2010  0.000003
1690773     Zuhaib   M       5  2010  0.000003
1690774     Zyeire   M       5  2010  0.000003
1690775    Zygmunt   M       5  2010  0.000003
1690776   Zykerion   M       5  2010  0.000003
1690777      Zylar   M       5  2010  0.000003
1690778      Zylin   M       5  2010  0.000003
1690779    Zymaire   M       5  2010  0.000003
1690780     Zyonne   M       5  2010  0.000003
1690781  Zyquarius   M       5  2010  0.000003
1690782      Zyran   M       5  2010  0.000003
1690783      Zzyzx   M       5  2010  0.000003

[1690784 rows x 5 columns]

In [122]:
np.allclose(names.groupby(['year', 'sex']).prop.sum(), 1)

True

In [123]:
def get_top1000(group):
    return group.sort_index(by='births', ascending=False)[:1000]
grouped = names.groupby(['year', 'sex'])
top1000 = grouped.apply(get_top1000)

In [124]:
pieces = []
for year, group in names.groupby(['year', 'sex']):
    pieces.append(group.sort_index(by='births', ascending=False)[:1000])
top1000 = pd.concat(pieces, ignore_index=True)

In [125]:
top1000.index = np.arange(len(top1000))

In [126]:
top1000

             name sex  births  year      prop
0            Mary   F    7065  1880  0.077643
1            Anna   F    2604  1880  0.028618
2            Emma   F    2003  1880  0.022013
3       Elizabeth   F    1939  1880  0.021309
4          Minnie   F    1746  1880  0.019188
5        Margaret   F    1578  1880  0.017342
6             Ida   F    1472  1880  0.016177
7           Alice   F    1414  1880  0.015540
8          Bertha   F    1320  1880  0.014507
9           Sarah   F    1288  1880  0.014155
10          Annie   F    1258  1880  0.013825
11          Clara   F    1226  1880  0.013474
12           Ella   F    1156  1880  0.012704
13       Florence   F    1063  1880  0.011682
14           Cora   F    1045  1880  0.011484
15         Martha   F    1040  1880  0.011429
16          Laura   F    1012  1880  0.011122
17         Nellie   F     995  1880  0.010935
18          Grace   F     982  1880  0.010792
19         Carrie   F     949  1880  0.010429
20          Maude   F     858  1880  0.009429
21          Mabel   F     808  1880  0.008880
22         Bessie   F     794  1880  0.008726
23         Jennie   F     793  1880  0.008715
24       Gertrude   F     787  1880  0.008649
25          Julia   F     783  1880  0.008605
26         Hattie   F     769  1880  0.008451
27          Edith   F     768  1880  0.008440
28         Mattie   F     704  1880  0.007737
29           Rose   F     700  1880  0.007693
...           ...  ..     ...   ...       ...
261847       Yair   M     201  2010  0.000106
261848      Talan   M     201  2010  0.000106
261849      Keyon   M     201  2010  0.000106
261850       Kael   M     201  2010  0.000106
261851   Demarion   M     200  2010  0.000105
261852     Gibson   M     200  2010  0.000105
261853     Reagan   M     200  2010  0.000105
261854  Cristofer   M     199  2010  0.000105
261855     Daylen   M     199  2010  0.000105
261856     Jordon   M     199  2010  0.000105
261857    Dashawn   M     198  2010  0.000104
261858      Masen   M     198  2010  0.000104
261859      Rowen   M     197  2010  0.000104
261860     Yousef   M     197  2010  0.000104
261861   Thaddeus   M     197  2010  0.000104
261862      Kadin   M     197  2010  0.000104
261863     Dillan   M     197  2010  0.000104
261864   Clarence   M     197  2010  0.000104
261865      Slade   M     196  2010  0.000103
261866    Clinton   M     196  2010  0.000103
261867    Sheldon   M     196  2010  0.000103
261868    Keshawn   M     195  2010  0.000103
261869   Menachem   M     195  2010  0.000103
261870     Joziah   M     195  2010  0.000103
261871     Bailey   M     194  2010  0.000102
261872     Camilo   M     194  2010  0.000102
261873     Destin   M     194  2010  0.000102
261874     Jaquan   M     194  2010  0.000102
261875     Jaydan   M     194  2010  0.000102
261876     Maxton   M     193  2010  0.000102

[261877 rows x 5 columns]

### Analyzing naming trends

In [127]:
boys = top1000[top1000.sex == 'M']
girls = top1000[top1000.sex == 'F']

In [128]:
total_births = top1000.pivot_table('births', index='year', columns='name',
                                   aggfunc=sum)
total_births

name,Aaden,Aaliyah,Aarav,Aaron,Aarush,Ab,Abagail,Abb,Abbey,Abbie,...,Zoa,Zoe,Zoey,Zoie,Zola,Zollie,Zona,Zora,Zula,Zuri
year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,71,...,8,23,NaN,NaN,7,NaN,8,28,27,NaN
1881,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,81,...,NaN,22,NaN,NaN,10,NaN,9,21,27,NaN
1882,NaN,NaN,NaN,85,NaN,NaN,NaN,NaN,NaN,80,...,8,25,NaN,NaN,9,NaN,17,32,21,NaN
1883,NaN,NaN,NaN,105,NaN,NaN,NaN,NaN,NaN,79,...,NaN,23,NaN,NaN,10,NaN,11,35,25,NaN
1884,NaN,NaN,NaN,97,NaN,NaN,NaN,NaN,NaN,98,...,13,31,NaN,NaN,14,6,8,58,27,NaN
1885,NaN,NaN,NaN,88,NaN,6,NaN,NaN,NaN,88,...,6,27,NaN,NaN,12,6,14,48,38,NaN
1886,NaN,NaN,NaN,86,NaN,NaN,NaN,NaN,NaN,84,...,13,25,NaN,NaN,8,NaN,20,52,43,NaN
1887,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,104,...,9,34,NaN,NaN,23,NaN,28,46,33,NaN
1888,NaN,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,137,...,11,42,NaN,NaN,23,7,30,42,45,NaN
1889,NaN,NaN,NaN,85,NaN,NaN,NaN,NaN,NaN,107,...,14,29,NaN,NaN,22,NaN,29,53,55,NaN
1890,NaN,NaN,NaN,96,NaN,NaN,NaN,6,NaN,140,...,NaN,42,NaN,NaN,32,7,27,60,65,NaN
1891,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,124,...,NaN,34,NaN,NaN,29,6,14,52,45,NaN
1892,NaN,NaN,NaN,95,NaN,NaN,NaN,NaN,NaN,119,...,NaN,34,NaN,NaN,27,NaN,25,66,53,NaN
1893,NaN,NaN,NaN,81,NaN,NaN,NaN,NaN,NaN,115,...,NaN,23,NaN,NaN,34,6,15,67,70,NaN
1894,NaN,NaN,NaN,79,NaN,NaN,NaN,NaN,NaN,118,...,NaN,28,NaN,NaN,51,NaN,23,66,64,NaN
1895,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,92,...,NaN,34,NaN,NaN,60,11,38,55,55,NaN
1896,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,121,...,NaN,36,NaN,NaN,47,NaN,38,72,65,NaN
1897,NaN,NaN,NaN,87,NaN,NaN,NaN,NaN,NaN,97,...,NaN,35,NaN,NaN,51,NaN,28,67,79,NaN
1898,NaN,NaN,NaN,89,NaN,NaN,NaN,NaN,NaN,120,...,NaN,30,NaN,NaN,62,NaN,28,65,83,NaN
1899,NaN,NaN,NaN,71,NaN,NaN,NaN,NaN,NaN,87,...,NaN,27,NaN,NaN,49,6,31,56,60,NaN
1900,NaN,NaN,NaN,104,NaN,NaN,NaN,NaN,NaN,112,...,NaN,26,NaN,NaN,48,9,44,99,71,NaN
1901,NaN,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,87,...,NaN,26,NaN,NaN,56,NaN,31,58,57,NaN
1902,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,91,...,NaN,34,NaN,NaN,58,NaN,23,58,66,NaN
1903,NaN,NaN,NaN,93,NaN,NaN,NaN,NaN,NaN,91,...,NaN,19,NaN,NaN,64,NaN,41,83,74,NaN
1904,NaN,NaN,NaN,117,NaN,NaN,NaN,NaN,NaN,80,...,NaN,27,NaN,NaN,46,NaN,35,54,74,NaN
1905,NaN,NaN,NaN,96,NaN,NaN,NaN,NaN,NaN,73,...,NaN,24,NaN,NaN,66,8,24,55,61,NaN
1906,NaN,NaN,NaN,96,NaN,NaN,NaN,NaN,NaN,72,...,NaN,19,NaN,NaN,59,NaN,37,64,58,NaN
1907,NaN,NaN,NaN,130,NaN,NaN,NaN,NaN,NaN,79,...,NaN,19,NaN,NaN,53,11,39,92,72,NaN
1908,NaN,NaN,NaN,114,NaN,NaN,NaN,NaN,NaN,84,...,NaN,23,NaN,NaN,70,NaN,31,59,53,NaN
1909,NaN,NaN,NaN,142,NaN,NaN,NaN,NaN,NaN,57,...,NaN,22,NaN,NaN,59,NaN,39,57,76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,NaN,NaN,NaN,14832,NaN,NaN,NaN,NaN,383,292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,14538,NaN,NaN,NaN,NaN,372,275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,14627,NaN,NaN,NaN,NaN,419,223,...,NaN,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,13387,NaN,NaN,NaN,NaN,357,249,...,NaN,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,13123,NaN,NaN,NaN,NaN,314,233,...,NaN,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,12685,NaN,NaN,NaN,NaN,369,228,...,NaN,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,12676,NaN,NaN,NaN,NaN,327,228,...,NaN,248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,14393,NaN,NaN,NaN,NaN,404,226,...,NaN,238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,15312,NaN,NaN,NaN,NaN,470,265,...,NaN,376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,14545,NaN,NaN,NaN,NaN,507,311,...,NaN,478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,14240,NaN,NaN,NaN,NaN,451,278,...,NaN,722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,14494,NaN,NaN,NaN,NaN,430,260,...,NaN,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,13819,NaN,NaN,NaN,NaN,503,291,...,NaN,1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,1451,NaN,14379,NaN,NaN,NaN,NaN,597,351,...,NaN,1332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,1254,NaN,13277,NaN,NaN,NaN,NaN,549,351,...,NaN,1726,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,831,NaN,11956,NaN,NaN,NaN,NaN,552,349,...,NaN,2063,339,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,1737,NaN,11156,NaN,NaN,NaN,NaN,645,386,...,NaN,2363,407,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,1399,NaN,10539,NaN,NaN,NaN,NaN,661,398,...,NaN,2690,478,225,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,1088,NaN,9846,NaN,NaN,211,NaN,710,430,...,NaN,3238,561,257,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,1494,NaN,9548,NaN,NaN,222,NaN,660,432,...,NaN,3783,691,320,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,3351,NaN,9529,NaN,NaN,244,NaN,687,526,...,NaN,4642,822,439,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,4775,NaN,8993,NaN,NaN,256,NaN,600,514,...,NaN,4883,1182,438,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,3670,NaN,8851,NaN,NaN,276,NaN,625,536,...,NaN,5080,1465,448,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,3482,NaN,8381,NaN,NaN,258,NaN,504,500,...,NaN,5359,1621,515,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,3452,NaN,7796,NaN,NaN,287,NaN,451,445,...,NaN,4953,2266,502,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,3737,NaN,8279,NaN,NaN,297,NaN,404,440,...,NaN,5145,2839,530,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,3941,NaN,8914,NaN,NaN,313,NaN,349,468,...,NaN,4925,3028,526,NaN,NaN,NaN,NaN,NaN,NaN
2008,955,4028,219,8511,NaN,NaN,317,NaN,344,400,...,NaN,4764,3438,492,NaN,NaN,NaN,NaN,NaN,NaN
2009,1265,4352,270,7936,NaN,NaN,296,NaN,307,369,...,NaN,5120,3981,496,NaN,NaN,NaN,NaN,NaN,NaN
2010,448,4628,438,7374,226,NaN,277,NaN,295,324,...,NaN,6200,5164,504,NaN,NaN,NaN,NaN,NaN,258

In [129]:
subset = total_births[['John', 'Harry', 'Mary', 'Marilyn']]
subset.plot(subplots=True, figsize=(12, 10), grid=False,
            title="Number of births per year")

array([<matplotlib.axes._subplots.AxesSubplot object at 0x7f8325548d50>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x7f83255143d0>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x7f8325570790>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x7f83253ff090>], dtype=object)

#### Measuring the increase in naming diversity

In [130]:
plt.figure()

In [131]:
table = top1000.pivot_table('prop', index='year',
                            columns='sex', aggfunc=sum)
table.plot(title='Sum of table1000.prop by year and sex',
           yticks=np.linspace(0, 1.2, 13), xticks=range(1880, 2020, 10))

In [132]:
df = boys[boys.year == 2010]
df

               name sex  births  year      prop
260877        Jacob   M   21875  2010  0.011523
260878        Ethan   M   17866  2010  0.009411
260879      Michael   M   17133  2010  0.009025
260880       Jayden   M   17030  2010  0.008971
260881      William   M   16870  2010  0.008887
260882    Alexander   M   16634  2010  0.008762
260883         Noah   M   16281  2010  0.008576
260884       Daniel   M   15679  2010  0.008259
260885        Aiden   M   15403  2010  0.008114
260886      Anthony   M   15364  2010  0.008093
260887       Joshua   M   15238  2010  0.008027
260888        Mason   M   14728  2010  0.007758
260889  Christopher   M   14135  2010  0.007446
260890       Andrew   M   14093  2010  0.007424
260891        David   M   14042  2010  0.007397
260892      Matthew   M   13954  2010  0.007350
260893        Logan   M   13943  2010  0.007345
260894       Elijah   M   13735  2010  0.007235
260895        James   M   13714  2010  0.007224
260896       Joseph   M   13657  2010  0.007194
260897      Gabriel   M   12722  2010  0.006701
260898     Benjamin   M   12280  2010  0.006469
260899         Ryan   M   11886  2010  0.006261
260900       Samuel   M   11776  2010  0.006203
260901      Jackson   M   11693  2010  0.006159
260902         John   M   11424  2010  0.006018
260903       Nathan   M   11269  2010  0.005936
260904     Jonathan   M   11028  2010  0.005809
260905    Christian   M   10965  2010  0.005776
260906         Liam   M   10852  2010  0.005716
...             ...  ..     ...   ...       ...
261847         Yair   M     201  2010  0.000106
261848        Talan   M     201  2010  0.000106
261849        Keyon   M     201  2010  0.000106
261850         Kael   M     201  2010  0.000106
261851     Demarion   M     200  2010  0.000105
261852       Gibson   M     200  2010  0.000105
261853       Reagan   M     200  2010  0.000105
261854    Cristofer   M     199  2010  0.000105
261855       Daylen   M     199  2010  0.000105
261856       Jordon   M     199  2010  0.000105
261857      Dashawn   M     198  2010  0.000104
261858        Masen   M     198  2010  0.000104
261859        Rowen   M     197  2010  0.000104
261860       Yousef   M     197  2010  0.000104
261861     Thaddeus   M     197  2010  0.000104
261862        Kadin   M     197  2010  0.000104
261863       Dillan   M     197  2010  0.000104
261864     Clarence   M     197  2010  0.000104
261865        Slade   M     196  2010  0.000103
261866      Clinton   M     196  2010  0.000103
261867      Sheldon   M     196  2010  0.000103
261868      Keshawn   M     195  2010  0.000103
261869     Menachem   M     195  2010  0.000103
261870       Joziah   M     195  2010  0.000103
261871       Bailey   M     194  2010  0.000102
261872       Camilo   M     194  2010  0.000102
261873       Destin   M     194  2010  0.000102
261874       Jaquan   M     194  2010  0.000102
261875       Jaydan   M     194  2010  0.000102
261876       Maxton   M     193  2010  0.000102

[1000 rows x 5 columns]

In [133]:
prop_cumsum = df.sort_index(by='prop', ascending=False).prop.cumsum()
prop_cumsum[:10]

260877    0.011523
260878    0.020934
260879    0.029959
260880    0.038930
260881    0.047817
260882    0.056579
260883    0.065155
260884    0.073414
260885    0.081528
260886    0.089621
Name: prop, dtype: float64

In [134]:
prop_cumsum.values.searchsorted(0.5)

116

In [135]:
df = boys[boys.year == 1900]
in1900 = df.sort_index(by='prop', ascending=False).prop.cumsum()
in1900.values.searchsorted(0.5) + 1

25

In [136]:
def get_quantile_count(group, q=0.5):
    group = group.sort_index(by='prop', ascending=False)
    return group.prop.cumsum().values.searchsorted(q) + 1

diversity = top1000.groupby(['year', 'sex']).apply(get_quantile_count)
diversity = diversity.unstack('sex')

In [137]:
def get_quantile_count(group, q=0.5):
    group = group.sort_index(by='prop', ascending=False)
    return group.prop.cumsum().values.searchsorted(q) + 1
diversity = top1000.groupby(['year', 'sex']).apply(get_quantile_count)
diversity = diversity.unstack('sex')
diversity.head()

sex    F   M
year
1880  38  14
1881  38  14
1882  38  15
1883  39  15
1884  39  16

In [138]:
diversity.plot(title="Number of popular names in top 50%")

#### The "Last letter" Revolution

In [139]:
# extract last letter from name column
get_last_letter = lambda x: x[-1]
last_letters = names.name.map(get_last_letter)
last_letters.name = 'last_letter'

table = names.pivot_table('births', index=last_letters,
                          columns=['sex', 'year'], aggfunc=sum)

In [140]:
subtable = table.reindex(columns=[1910, 1960, 2010], level='year')
subtable.head()

sex               F                      M
year           1910    1960    2010   1910    1960    2010
last_letter
a            108376  691247  670605    977    5204   28438
b               NaN     694     450    411    3912   38859
c                 5      49     946    482   15476   23125
d              6750    3729    2607  22111  262112   44398
e            133569  435013  313833  28655  178823  129012

In [141]:
subtable.sum()

sex  year
F    1910     396416
     1960    2022062
     2010    1759010
M    1910     194198
     1960    2132588
     2010    1898382
dtype: float64

In [142]:
letter_prop = subtable / subtable.sum().astype(float)

In [143]:
import matplotlib.pyplot as plt

fig, axes = plt.subplots(2, 1, figsize=(10, 8))
letter_prop['M'].plot(kind='bar', rot=0, ax=axes[0], title='Male')
letter_prop['F'].plot(kind='bar', rot=0, ax=axes[1], title='Female',
                      legend=False)

In [144]:
plt.subplots_adjust(hspace=0.25)

In [145]:
letter_prop = table / table.sum().astype(float)

dny_ts = letter_prop.ix[['d', 'n', 'y'], 'M'].T
dny_ts.head()

last_letter         d         n         y
year
1880         0.083055  0.153213  0.075760
1881         0.083247  0.153214  0.077451
1882         0.085340  0.149560  0.077537
1883         0.084066  0.151646  0.079144
1884         0.086120  0.149915  0.080405

In [146]:
plt.close('all')

In [147]:
dny_ts.plot()

#### Boy names that became girl names (and vice versa)

In [148]:
all_names = top1000.name.unique()
mask = np.array(['lesl' in x.lower() for x in all_names])
lesley_like = all_names[mask]
lesley_like

array(['Leslie', 'Lesley', 'Leslee', 'Lesli', 'Lesly'], dtype=object)

In [149]:
filtered = top1000[top1000.name.isin(lesley_like)]
filtered.groupby('name').births.sum()

name
Leslee      1082
Lesley     35022
Lesli        929
Leslie    370429
Lesly      10067
Name: births, dtype: int64

In [150]:
table = filtered.pivot_table('births', index='year',
                             columns='sex', aggfunc='sum')
table = table.div(table.sum(1), axis=0)
table.tail()

sex   F   M
year
2006  1 NaN
2007  1 NaN
2008  1 NaN
2009  1 NaN
2010  1 NaN

In [151]:
plt.close('all')

In [152]:
table.plot(style={'M': 'k-', 'F': 'k--'})